
#loginShowBTN{
    width: 100px;
    height: 30px;
    color: blue;
    background-color: transparent;
    border: none;
  }

#loginShowBTN:hover{
    color: lightblue;
}
  
#loginShowBTN:active{
     color: red;
}

#loginPanel{
    width: 100%;
    height: 200px;
    background-color: grey;
    display: none;
    position: fixed;
    margin-top: 100px;
    /* display: inline-block; */
}

#loginPanel ul{
    width: 100%;
    text-align: center;
    display: inline-block;
}

#loginPanel ul:first-child{
    margin-top: 30px;
}

#loginPanel label{
    width: 80px;
    color: red;
    /* float: left; */
    margin-left: -30px;
}

#loginPanel input["type=text"]{
    width: 200px;
}
  

/*
 ------------------------------
------------------------------------------
--Listing APP---- Listing APP----- ListingAPP-----------------------------------------------
------------------------------------------
--------------------------------- 
*/

#showNewListingBTN{
    margin-left: 100px;
}

#ListingsAPP ul{
    font-size: 150%;
    font-weight: bold;
    font-family: cursive ,'Times New Roman', Times, serif; 
    font-style: italic;
    text-align: center;
    border-bottom: 5px solid blue;
    padding: 10px;
    background-color: black;
    color: white;
}

#ListingsAPP{
    width: 100%;
    min-width: 320px;
    height: 2900px;
    margin: auto;
    background-color: rgba(31, 29, 29, 0.907);
}
  
#preview center{
    font-size: 120%;
}

#preview{
    width: 250px;
    height: 258px;
    margin-top: 20px;
    margin: auto;
    padding-right: 10px;    
    padding-left: 10px;
    border-radius: 10px;
    background-color: white;
}
  
#ListingsAPP label{
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-left: 20px;
    font-size: 100%;
    border-top: 3px solid white;
    color: white;
}

#ListingsAPP .form-control{
    width: 90%;
    margin: auto;
    color: black;
    font-size: 90%;
    border: 2px solid black;
}
#ListingAPP .form-control:active{
    border: 2px solid red;
}